logs/*
tokenizers/*
qsub_logs/*
models/*
output_translations/*
test_bleu.py
utils/__pycache__/*
logs_archive/*
output_analysis/output_translations/*
output_analysis/qsub_logs/*
output_analysis/results_bleu_scores.json
output_analysis/logs/*
output_analysis/model_output_files/*
output_analysis/test_set_splits_files/*
output_analysis/test_set_splits_sentidx/*
